@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--regular-font);
}
:root{
    --head: 'Merienda', cursive;
    --regular-font: 'Poppins', sans-serif;
    --main-color: #480f92;
}
.logo{
    margin: auto 5rem;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--head);
}
/* .hero{
    background: linear-gradient(to right, #0f9b0f, #000000);

} */

.hero{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0, 0, 0, 0.55)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner{
    display: flex;
    justify-content: space-between;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 2rem;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    transition: .5s ease all;
}


nav ul li a:hover{
  
  color: #fff;
  padding: .5rem 1rem;
  border-radius: .3rem;
  border: 2px solid var(--main-color);

}

.hero-text{
    width: 50%;
    margin: 8rem 0 0 5rem;

}
.hero-text h1{
    margin-top: 5rem;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
}

.hero-text p{
    color: #fff;
    font-size: 1.5rem;
}

button{
    border: 1px solid #ffffff00;
    margin:1rem 0rem;
    background-color: #480f92;
    padding: .8rem;
    border-radius: 5px;
    transition: .5s;
    color: #fff;
    font-size: 14px;
    
}
button:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #fff;
    cursor: pointer;
}


/* header section ends */


/* content section starts */

.content-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.content-img img {
    width: 450px;
    border-radius: .4rem;
    box-shadow: 5px 7px 16px -8px #9e5ff0fc;
}
.content-text{
    width: 50%;
}
.content-text h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.content-text p{
    color: #47416d;
    width: 80%;
    text-transform: capitalize;
}
.content-text button:hover{
    background-color: #47416d00;
    border: 1px solid #480f92;
    color: #480f92;
}
/* content section ends */

.serv-text{
    text-align: center;
    padding-bottom: 5rem;
}
.serv-text h1{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.serv-text p{
    margin: 0 20rem;
    color: #47416d;
}


/* service section starts */






/* service section ends */









.container {
    display: flex;
    margin: 0rem 15rem;
}

.service-plan {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 16px 12px 52px -33px rgb(18 186 250 / 50%);
}

.service-plan.left {
    background-color: #480f9241;
}

.service-plan.center {
    background-color: #958ada;
}

.service-plan.right {
    background-color: #dce2e9;
}

.icon {
    font-size: 50px;
}

#service-h3 {
    font-size: 25px;
}

#service-p {
    color: rgba(0, 0, 0, 0.568);
    font-weight: 600;
}



/* gallery section */
.gallery{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}
.gallery img{
    margin: 1rem;
}
/* gallery section ends */


/* charity section starts */

.charity-title{
    text-align: center;
    margin: 0 15rem;
}
.charity-title h1{
    font-size: 2.5rem;
    font-stretch: condensed;
}
.charity-title p{
    color: #47416d;
    margin: 0rem;
}




.charity-donate{
    display: flex;
    text-align: left;
    

}
.donate-box{
    margin: 3rem 2rem;
    background-color: #47416d;

}
.donate-box.left {
    margin-left: 5rem;
    background-color: #ebe8ff;
    border-radius: 1rem;
}
.donate-box.center {
    background-color: #ebe8ff;
    border-radius: 1rem;
}
.donate-box.right {
    margin-right: 5rem;
    background-color: #ebe8ff;
    border-radius: 1rem;
}
.donate-box h1{
    text-align: left;
    font-size: 1.2rem;
    padding: 1rem;
}

.donate-box p{
   padding: 0rem 1rem 1rem 1rem;
} 

.zakat-btn{
    background-color: #ffffff00;
    color: var(--main-color);
    font-size: 1rem;

}
.zakat-btn:hover{
    color: #fff;
    background-color: #47416d;
}

/* charity section ends */


footer{
    padding: 5rem;
    background-color: #000;
    text-align: center;
}
footer h1{
    color: #ff5e00;
    font-family: var(--head);
}
footer p{
    color: #8c55d3;
}